#mapid {
  width: 37vw;
  height: 480px;
  margin: auto;
 }

#cities-input, #countries-input {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 70vw; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 5px; /* Add some space below the input */
}

#cities-list, #countries-list {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cities-list {
  height:200px;
  width:73vw;
  overflow:hidden;
  overflow-y:scroll;
}


#cities-list li, #countries-list li {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#cities-list li:hover, #countries-list li:hover{
    background-color: #eee; /* Add a hover effect to all links, except for headers */
    cursor: pointer;
}

#country-dropdown {
  font-size: 16px;
  height: 30px;
}
