body {
  background-color: #aad4e5;
  font-family: 'Share Tech', sans-serif;
}

#mapid {
  width: 60vw;
  height: 450px;
  /* margin: auto; */
  border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 60vw;
    height: 450px;
    justify-content: center;
 }

.top-row {
  display: flex;
  justify-content: space-around;
}

.b-row {
margin-left: 70px;
margin-top: 30px;
display: flex;
justify-content: space-between;
}

#wiki-for-iss-location {
  max-width: 150px;
  max-height: 50px;
  margin-right: 130px;
}

form {
  width: 70vw;
  margin: auto;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin-top: 77px;
}

table td {
  padding: 30px;
}

table thead {
  background-color: blue;
}

#side-bar {
  display: flex;
  flex-direction: column;
}

.iss-live {
  margin-top: 10px;
}

#info-row {
  display: flex;
  justify-content: space-around;
}

#pass-times, #geo-data {
  width: 400px;
}

#geo-data {
  display: flex;
}

#cities-input {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    height: 32px;
    margin-top: 10px;
    width: 46vw;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 5px; /* Add some space below the input */
}

#cities-list, #countries-list {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cities-list {
  height:180px;
  width:61vw;
  overflow:hidden;
  overflow-y:scroll;
  /* display: none; */
}

#cities-list li, #countries-list li {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#cities-list li:hover, #countries-list li:hover{
    background-color: #eee; /* Add a hover effect to all links, except for headers */
    cursor: pointer;
}

#country-dropdown {
  font-size: 16px;
  height: 30px;
  width: 15vw;
}
