body {
  background-image: url("/images/b3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Doppio One', sans-serif;
  color: #F1F0F5;
}

h1 {
  color: #F1F0F5;
  font-size: 2.5rem;
  font-family: 'Share Tech', sans-serif;
}

#people-in-space {
  max-width: 150px;
}

#icon {
  width: 64px;
  margin-right: 10px;
}
#mapid {
  width: 60vw;
  height: 450px;
  border: 5px ridge #3e7999;
  padding: 20px;
  justify-content: center;
}

.top-row {
  display: flex;
  justify-content: space-around;
}

.b-row {
  margin-left: 70px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

#wiki-for-iss-location {
  width: 200px;
  max-height: 100px;
  margin-right: 130px;
  background-color: #27536B;
  color: #F1F0F5;
  font-size: 16px;
  border: 3px outset #1b3d4f;
  padding: 10px;
  font-family: 'Doppio One', sans-serif;
}

#wiki-for-iss-location:hover {
  background-color: #2d5d77;
}

form {
  width: 70vw;
  margin: auto;
}

table {
  border: 2px solid #3e7999;
  border-collapse: collapse;
  padding: 10px;
  margin-top: 115px;
}

table td {
  padding: 30px;
  background-color: #3e7999CC;
  max-width: 160px;
}

table thead {
  background-color: #27536B;
}

#side-bar {
  display: flex;
  flex-direction: column;
}

.iss-live {
  margin-top: 10px;
}

#info-row {
  display: flex;
  justify-content: center;
  color: #F1F0F5;
}

#pass-times {
  width: 400px;
  padding-left: 15px;
}

#geo-data {
  display: flex;
  width: 600px;
}

#cities-input {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  height: 32px;
  margin-top: 10px;
  width: 46vw;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

#cities-list, #countries-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#cities-list {
  height:180px;
  width:61vw;
  overflow:hidden;
  overflow-y:scroll;
}

#cities-list li, #countries-list li {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#cities-list li:hover, #countries-list li:hover{
  background-color: #eee;
  cursor: pointer;
}

#country-dropdown {
  font-size: 16px;
  height: 30px;
  width: 15vw;
}

#thumbnail {
  align-self: center;
  margin-right: 10px;

}

#pass-times, #geo-data {
  background-color: #3e7999CC;
}

#pass-times h2 {
  background-color: #3e799900;
  padding: 0;
}


#geo-data {
  padding-right: 15px;
}

#dragon-icon {
  width: 128px;
  margin-left: 200px;
  margin-right: 15px;
}
